<form (submit)="submitSearch()">

    <div class="input-group p-2" ngbDropdown placement="bottom-right">

        <!--    <div class="input-group-prepend">-->
        <!--        <span class="input-group-text bg-light">-->
        <!--            <i class="fa fa-fw fa-times"></i>-->
        <!--        </span>-->
        <!--    </div>-->

        <div ngbDropdownMenu style="width: 583px" class="p-2 shadow">
            <b class="font-95em">BLAST</b>
            <textarea class="form-control form-control-sm" name="sequence" [(ngModel)]="query.blastQuery.sequence"
                      placeholder="Enter Sequence" rows="6"></textarea>
            <button class="btn btn-sm btn-primary pull-right mt-2">Search</button>
        </div>

        <input type="text" [(ngModel)]="query.queryString" class=" border-right-0" name="searchTerms"
               placeholder="Enter search terms" style="width: 88%; padding: 8px; border: 1px solid #ddd"/>

        <div class="input-group-append">
        <span class="input-group-text bg-light cursor-pointer" ngbDropdownToggle>
            <small class="text-muted">Blast</small>
        </span>
        </div>
    </div>
</form>

