.entry-type {
    opacity: 0.7;
    font-weight: bold;
    font-size: 0.80em;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
}

table th span {
    font-size: 12px;
    text-transform: uppercase;
}

th i.sortable {
    opacity: 0;
}

th:hover i.sortable {
    opacity: 0.4;
}
