<app-header (runSearch)="runAdvancedSearch()" class="fixed-top"></app-header>

<br>

<div class="container-fluid" style="margin-top: 48px">
    <div *ngIf='loadingSearchResults' class="p-4 text-muted font-italic font-11em">
        <img src="assets/img/loader-mini.gif" alt="">
    </div>

    <div *ngIf="(!searchResults || !searchResults.resultCount) && !loadingSearchResults"
         class="text-secondary font-italic font-11em p-4">No matching results available
    </div>

    <div *ngIf="searchResults && searchResults.resultCount && !loadingSearchResults">
        <div class="row">
            <table class="table table-hover"
                   [ngClass]="{'opacity-4':loadingSearchResults, 'border-bottom': searchResults && searchResults.resultCount}">
                <thead class="bg-light text-black-50">
                <tr>
                    <th (click)="sortResults('type')" class="cursor-pointer">
                        <span>TYPE</span>&nbsp;
                        <i *ngIf="query.parameters.sortField!=='TYPE'" class="sortable fa fa-angle-down"></i>
                        <i *ngIf="query.parameters.sortField=='TYPE'"
                           class="fa opacity-4"
                           [ngClass]="{'fa-angle-down':query.parameters.sortAscending==false, 'fa-angle-up':query.parameters.sortAscending==true}"></i>
                    </th>
                    <th (click)="sortResults('part_id')" class="cursor-pointer">
                        <span>PART ID</span>&nbsp;
                        <i *ngIf="query.parameters.sortField!=='PART_ID'" class="sortable fa fa-angle-down"></i>
                        <i *ngIf="query.parameters.sortField=='PART_ID'"
                           class="fa opacity-4"
                           [ngClass]="{'fa-angle-down':query.parameters.sortAscending==false, 'fa-angle-up':query.parameters.sortAscending==true}"></i>
                    </th>
                    <th (click)="sortResults('NAME')" class="cursor-pointer text-uppercase">
                        <span>NAME</span>&nbsp;
                        <i *ngIf="query.parameters.sortField!=='NAME'" class="sortable fa fa-angle-down"></i>
                        <i *ngIf="query.parameters.sortField=='NAME'"
                           class="fa opacity-4"
                           [ngClass]="{'fa-angle-down':query.parameters.sortAscending==false, 'fa-angle-up':query.parameters.sortAscending==true}"></i>
                    </th>
                    <th style=" width:230px"><span>SOURCE</span></th>
                    <th style="width:100px;">
                        <i class="fa fa-flask fa-fw"></i>
                        <img src="assets/img/dna.svg" style="opacity: 0.5%" width="15px" alt="has dna"/>
                    </th>
                    <th (click)="sortResults('created')" class="cursor-pointer" style="width: 120px">
                        <span>CREATED</span>&nbsp;
                        <i *ngIf="query.parameters.sortField==='CREATED'"
                           class="fa opacity-4"
                           [ngClass]="{'fa-angle-down':query.parameters.sortAscending==false, 'fa-angle-up':query.parameters.sortAscending==true}"></i>
                        <i *ngIf="query.parameters.sortField!=='CREATED'" class="sortable fa fa-angle-down"></i>
                    </th>
                </tr>
                </thead>

                <tbody *ngIf="searchResults && !loadingSearchResults" class="font-95em">
                <tr *ngFor="let result of searchResults.results; let i = index">
                    <td class="entry-type">
                        {{result.entryInfo.type}}
                    </td>
                    <td><a routerLink="/part/{{result.entryInfo.recordId}}" (click)="setSelected(i)"
                           class="form-group text-uppercase">{{result.entryInfo.partId}}</a>
                    </td>
                    <td>
                        <div title="{{result.entryInfo.name}}" style="width: 350px">
                            {{result.entryInfo.name}}
                        </div>
                        <div title="{{result.entryInfo.shortDescription}}" class="small text-muted text-truncate"
                             style="width: 350px;">
                            {{result.entryInfo.shortDescription}}
                        </div>
                    </td>
                    <td class="text-nowrap text-capitalize">
                        <a [href]="result.partner.url" target="_blank">{{result.partner.name}}</a>
                    </td>
                    <td>
                        <i *ngIf="result.entryInfo.hasSample" class="fa fa-flask fa-fw"
                           style="color: #555; font-size: 14px;"></i>
                        <i *ngIf="!result.entryInfo.hasSample" class="fa fa-square fa-fw"
                           style="opacity: 0; font-size: 14px;"></i>
                        <img *ngIf="result.entryInfo.hasSequence" alt="" src="assets/img/dna.svg" width="15px"/>
                    </td>
                    <td style="white-space:nowrap">{{result.entryInfo.creationTime | date:'MMM d, yyyy'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row align-content-md-center" style="text-align: center"
         *ngIf="searchResults && searchResults.resultCount && !loadingSearchResults">
        <div class="col-4">
            <ngb-pagination [collectionSize]="query.parameters.available"
                            [boundaryLinks]="true"
                            [(page)]="query.parameters.currentPage"
                            [pageSize]="query.parameters.pageSize" [maxSize]="5"
                            (pageChange)="searchResultPageChanged()"
                            [disabled]="query.parameters.available <= query.parameters.retrieveCount"></ngb-pagination>
        </div>

        <div class="col-4 font-weight-bold">{{pageCounts()}}</div>
        <div class="col-4"></div>
    </div>
</div>
